<!DOCTYPE html>
<html lang="zh">
  <head>
    <meta charset="UTF-8" />
    <title>amis - 低代码前端框架</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link type="image/x-icon" rel="shortcut icon" href="/amis/static/favicon_b3b0647.png" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1"
    />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />            <link rel="stylesheet" href="/amis/pkg/style_6690c6a.css" />
    <link rel="stylesheet" href="/amis/pkg/npm_f07d0e3.css" />
    <style>
      .app-wrapper,
      .schema-wrapper {
        position: relative;
        width: 100%;
        height: 100%;
      }
    </style>
        <script type="text/javascript">var theme = localStorage.getItem('theme') || 'default';
// 非 IE 模式
if (window.navigator.userAgent.indexOf('Trident') === -1) {
    document.write("<link rel=\"stylesheet\" title=\"default\" " + (theme !== 'default' ? 'disabled' : '') + "  href=\"" + '/amis/scss/themes/default_1c3f151.css' + "\" />");
    document.write("<link rel=\"stylesheet\" title=\"cxd\" " + (theme !== 'cxd' ? 'disabled' : '') + " href=\"" + '/amis/scss/themes/cxd_ac5f163.css' + "\" />");
    document.write("<link rel=\"stylesheet\" title=\"dark\" " + (theme !== 'dark' ? 'disabled' : '') + " href=\"" + '/amis/scss/themes/dark_1a0e25b.css' + "\" />");
    document.write("<link rel=\"stylesheet\" title=\"antd\" " + (theme !== 'antd' ? 'disabled' : '') + " href=\"" + '/amis/scss/themes/antd_0789af5.css' + "\" />");
}
else {
    document.write("<link rel=\"stylesheet\" title=\"default\" " + (theme !== 'default' ? 'disabled' : '') + "  href=\"" + '/amis/scss/themes/default-ie11_59c5a94.css' + "\" />");
    document.write("<link rel=\"stylesheet\" title=\"cxd\" " + (theme !== 'cxd' ? 'disabled' : '') + " href=\"" + '/amis/scss/themes/cxd-ie11_8b92c24.css' + "\" />");
    document.write("<link rel=\"stylesheet\" title=\"dark\" " + (theme !== 'dark' ? 'disabled' : '') + " href=\"" + '/amis/scss/themes/dark-ie11_c9610ea.css' + "\" />");
    document.write("<link rel=\"stylesheet\" title=\"antd\" " + (theme !== 'antd' ? 'disabled' : '') + " href=\"" + '/amis/scss/themes/antd-ie11_1138d2c.css' + "\" />");
}
</script>
    
<link rel="stylesheet" href="/amis/scss/helper_fde714c.css" />  </head>

  <body>
    <div id="root" class="app-wrapper"></div>  
<script src="/amis/pkg/npm_65876be.js"></script>
<script type="text/javascript" src="/amis/pkg/examples/index.html_map_d0e411f.js"></script>
<script type="text/javascript" src="/amis/pkg/app_f26b172.js"></script>
<script type="text/javascript" src="/amis/pkg/rich-text_5f64c21.js"></script>
<script type="text/javascript" src="/amis/pkg/rest_edf637e.js"></script>
<script type="text/javascript">
      if (location.hostname !== 'localhost') {
        var _hmt = _hmt || [];

        // 百度统计
        (function () {
          var hm = document.createElement('script');
          hm.src =
            'https://hm.baidu.com/hm.js?286766a21abb57abefedbd5257a26dc8';
          var s = document.getElementsByTagName('script')[0];
          s.parentNode.insertBefore(hm, s);
        })();
      }

      /* @require examples/index.jsx 标记为同步依赖，提前加载 */
      amis.require(['ca626e1'], function (app) {
        var initialState = {};
        app.bootstrap(document.getElementById('root'), initialState);
      });
    </script>
</body>
</html>
